* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.navbar{
  display: flex;
  height: 70px;
  padding: 20px 36px;
  background: #FFFFFF;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.navbar > img {
  max-width: 100px;
}

section{
  padding: 20px;
}

.hero-component{
  display: flex;
  flex-direction: column;
}

.images-grid{
  max-width: 100%;
  align-self: center;
}

.hero-h1 {
  margin-bottom: 16px;
}

.hero-p {
  margin-top: 0;
}
